{% extends 'base.html' %}
{% block body %}
<style>
	h3{
		text-align:center;
		background-color:Black;
		color:yellow;
	}
	p{
		text-align:center;
		color:yellow;
	}
</style>
<div class="container my-5 bg-secondary text-light">
<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="post">
<div class="container text-center">
	{% csrf_token %}
	{{form}}
	<input style="background-color:green;" type="Submit" name="Send email">
</div>	
</form>
</div>
{% endblock body %}


