{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container mt-3">
        <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Welcome {{request.user.username}}</h4>
                <p>Here you can upload many intresting Blogs, and show your bloging skills, and can check other's Blog also.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
</div>
<div class="container">
        <div class="row">
                <div class="col-lg-4 mt-3 mb-3">
                        <div class="col-11 mx-sm-auto rounded border p-3">
                                <h4 class="pt-3 pb-4">Add Your Post Here</h4>
                                <p class="text-white" id="message"></p>
                                <form id="noteForm">
                                        {% csrf_token %}
                                        {{form | crispy}}
                                        <input type="submit" class="btn btn-success btn-sm m-3 p-2" value="Add Note" id="add">
                                </form>
                        </div>
                </div>
                <div class="col-lg-8 mt-3 mb-3">
                        <table class="table " id="notesTable">
                                <thead>
                                        <tr>
                                                <th scope="col">S.No</th>
                                                <th scope="col">Title</th>
                                                <th scope="col">timeStamp</th>
                                                <th scope="col">slug</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        {% for post in notes %}
                                        <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <td class="title">{{post.title}}</td>
                                                <td class="description">{{post.timeStamp}}</td>
                                                <td class="slug">{{post.slug}}</td>
                                                <td><button data="{{post.id}}" class="btn btn-primary edit">Edit</button></td>
                                                <td><button data="{{post.id}}" class="btn btn-danger delete">Delete</button></td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                        </table>
                </div>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script>
        $(document).ready(function () {
                $('#notesTable').DataTable();
        });

        //edit function
        let activeItem = null 
        //show function 
        function showNote(data){
                $('#notesTable tbody').empty()
                for( i= 0; i < data.length; i++){
                        $('#notesTable tbody').append(
                        ` 
                        <tr>
                                <th scope="row">${i+1}</th>
                                <td class="title">${data[i].title}</td>
                                <td class="description">${data[i].timeStamp}</td>
                                <td class="slug">${data[i].slug}</td>
                                <td><button data="${data[i].id}" class="btn btn-primary edit">Edit</button></td>
                                <td><button data="${data[i].id}" class="btn btn-danger delete">Delete</button></td>
                        </tr>
                        
                        `   
                        )
                }
        }
        function editItem(item){
                var title = item.find('.title').text()
                var slug = item.find('.slug').text()
                var content = item.find('.content').text()
                var edit_id = item.find('.edit').attr('data')
                console.log(title, slug, content, edit_id)
                $('#id_title').val(title)
                $('#id_slug').val(slug)
                $('#id_content').val(content)
                $('#add').val('Update Note')
                $('#add').removeClass('bg-success')
                $('#add').addClass('bg-danger')
                activeItem = edit_id 
        }
        //delete note function 
        function deleteNote(delete_id){
                $.ajax({
                        type:'GET',
                        url :"{% url 'DeleteNote' %}",
                        data:{
                            "delete_id"    : delete_id,
                        },
                        success:function(response){
                                console.log(response.notes)
                                showNote(response.notes)
                                if (response.status_message == "Your Note Deleted Successfully"){
                                        $('#message').text(response.status_message) 
                                        $('#message').removeClass('bg-warning')
                                        $('#message').removeClass('bg-success')
                                        $('#message').addClass('bg-danger') 
                                }
                                $('.delete').click(function(){
                                        var delete_id = $(this).attr('data')
                                        console.log(delete_id)
                                        deleteNote(delete_id)
                                })
                                $('.edit').click(function(){
                                        var item = $(this).closest('tr')
                                        editItem(item)
                                })

                        }
                })
        }
        //this for form submission
        $(document).on('submit', '#noteForm', function (e) {
                e.preventDefault();
                title = $('#id_title').val()
                slug = $('#id_slug').val()
                content = $('#id_content').val()
                url = '{% url "upload-post" %}';
                data = {
                        'title': title,
                        'slug': slug,
                        'content': content,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                }
                if(activeItem != null){
                        url = '{% url "EditNote" %}';
                        data['edit_id'] = activeItem
                }
                //ajax calll
                $.ajax({
                        type: 'POST',
                        url: url,
                        data: data,
                        success: function (response) {
                                console.log(response)
                                data = response.notes;
                                $('#noteForm').trigger("reset");
                                if ( response.status == "1"){
                                       showNote(data)
                                }
                                
                                $('#message').text(response.status_message)
                                $('#message').removeClass('bg-warning')
                                $('#message').addClass('bg-success')
                                $('#message').addClass('p-2')
                                $('.edit').click(function(){
                                        var item = $(this).closest('tr')
                                        editItem(item)
                                })
                                $('.delete').click(function(){
                                        var delete_id = $(this).attr('data')
                                        console.log(delete_id)
                                        deleteNote(delete_id)
                                })

                                if(response.status_message =="Your Note Updated Successfully" ){
                                        $('#message').text(response.status_message) 
                                        $('#message').removeClass('bg-success')
                                        $('#message').removeClass('bg-danger')
                                        $('#message').addClass('bg-warning')
                                        $('#add').val('Add Note')
                                        $('#add').removeClass('bg-danger')
                                        $('#add').addClass('bg-success')
                                        activeItem = null

                                }
                        }
                })
        })
        $('.edit').click(function(){
                var item = $(this).closest('tr')
                editItem(item)
        })
        $('.delete').click(function(){
                var delete_id = $(this).attr('data')
                console.log(delete_id)
                deleteNote(delete_id)
        })
</script>
{% endblock %}
